-# <サイドバー>
.side
  .side-header
    .side-box
      .side-box__name
        masa
      .side-box__icon
        = link_to "#", class:"side-btn" do
          =icon('far','edit', class: "side-btn__icon")
        = link_to "#", class:"side-btn" do
          =icon('fas','cog', class: "side-btn__icon")
        
        .side__icon
  .side-groups

